.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #473e60;
}

h1 {
  margin: 30px;
  font-family: 'Permanent Marker', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 5rem;
  color: #d98549;
}

h2 {
  margin: 30px;
  font-family: 'Baloo Bhai 2', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 4rem;
  color: rgb(161 148 197);
}

p {
  font-size: 2rem;
  color: #e7da98;
  font-family: 'Changa', sans-serif;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Changa', sans-serif;

}
